.hoot {
  &-small-form-dialog {
    max-width: 500px;
  }
  &-large-form-dialog {
    max-width: $font-weight-bold;
  }
  &-key-value-dialog {
    max-width: 500px;
  }
  &-confirmation-dialog {
    max-width: 500px;
  }
}