// zeroheight website colors
$website-black: #23282C;
$website-gray-primary:#4F5354;
$website-gray-secondary:#6F6F6F;
$website-gray-fill-primary: #E1E1E1;
$website-gray-fill-secondary: #F5F5F5;
$website-gray-stroke: #C8CED3;
$website-gray-chip-fill: #E1E1E1;
$website-gray-chip-icon: $website-gray-primary;
$website-button-primary: $website-black;
$website-button-hover: $website-gray-primary;
$website-button-inactive: $website-gray-fill-secondary;
$website-button-inactive-stroke: #CCCCCC;
$website-green-success-fill: #F5FFF7;
$website-green-validation: #009A19;
$website-green-success-stroke: #006611;
$website-red-validation-stroke:#B30000;
$website-red-validation-fill:#FFF0F0;